<% layout('./layouts/boilerplate') %> 

    <div class="carousel-category"> 
        <div class="row mt-4 mb-5">
            <% for(let u of user) {%>
                <% if(currentUser && currentUser.username === u.username) {%> 
                    <div class="col-4 mt-0" style="transform: none; box-shadow: none;">
                        <div class="" style="width: 300px; height: 80px; background-color: rgb(0, 0, 0); border-radius: 4px;">
                            <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/profile-pic-male_4811a1.svg"  alt="" style="padding: 19px; width: 90px;">
                            <small style="font-size: 14px;color: rgb(255, 255, 255); font-weight: 600; letter-spacing: 1px;">Hello, <span class="" style="color: #f50606;"><%= `${u.firstname} ${u.lastname}` %></span></small>               
                        </div>
                        <div class="mt-4" style="width: 300px; height: 490px; background-color: rgb(0, 0, 0); border-radius: 4px;">
                            <small class="mt-5 ml-2 " style="font-size: 14px;color: #fff;; font-weight: 600; letter-spacing: 1px;cursor: pointer;">
                                <a class="" href="/user/account/profile/overview/address" style="text-decoration: none; color: #fff;;"><i class="fas fa-tasks" style="color: #f50606"></i> Manage Address</a></small><hr><br>
                            
                            <small class="mt-5 ml-2 " style="font-size: 14px;color: #fff;; font-weight: 600; letter-spacing: 1px; cursor: pointer;"><i class="fas fa-folder-open" style="color: #f50606"></i> Manage Accounts</small><hr><br>
                            
                            <small class="ml-2 mt-3" style="font-size: 14px;color: #fff;; font-weight: 600; letter-spacing: 1px;cursor: pointer;">
                                <a href="/user/account/profile/overview/home_wishlist"style="text-decoration: none; color: #fff;;"><i class="fas fa-heart" style="color: #f50606"></i> My Wishlist</a></small><hr><br>
                            
                            <small class="ml-2 mt-3" style="font-size: 14px;color: #fff;; font-weight: 600; letter-spacing: 1px;cursor: pointer;"><i class="fas fa-truck" style="color: #f50606"></i> My Order</small><hr><br>

                            <small class="ml-2 mt-3" style="font-size: 14px;color: #fff;; font-weight: 600; letter-spacing: 1px;cursor: pointer;">
                                <a class="" href="/user/logout" style="text-decoration: none; color: #fff;;"><i class="fas fa-sign-out-alt" style="color: #f50606"></i> Logout</a>
                            </small><hr>
                            <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/myProfileFooter_4e9fe2.png" alt="" style="width: 100%;">
                        </div>
                        <!-- <div class="mt-3" style="width: 300px; height: 50px; background-color: grey; border-radius: 4px;">
                            <small class="mt-4" style="font-size: 14px;color: #000; font-weight: 600; letter-spacing: 1px; padding: 3px;">Frequently visited.</small>               
                        </div> -->
                    </div> 
               
            <div class="col-8 ml-5">
                <div class="ml-4" style="background-color: rgb(0, 0, 0);  padding: 15px; border-radius: 4px;">
                <h4 class="mt-3 mb-3" style="color: rgb(255, 255, 255);font-weight: 600; letter-spacing: 1px;">Manage Accounts</h4>     
                <% for(let f of farm) {%>
                    <% if(f.author.equals(currentUser._id)) {%> 
                <div class="form-group mt-0">
                    <label for="storename" style="color: rgb(255, 255, 255); font-weight: 600; letter-spacing: 1px;">Your Store</label>
                    <input class="form-control" type="text" name="storename" value="<%= f.name  %> " id="storename" style=" width: 40%;height: 50px;  cursor: pointer;background-color: grey; color: #fff;">
                </div>
                <% } %>
                <% } %>  
                <% for(let f of farm) {%>
                    <% if(f.author.equals(currentUser._id)) {%> 
                        <button class="btn btn-md btn-danger ml-3 mb-5" style="float: right; color: #fff; background-color: #aa0000; border-radius: 2px;">
                        <a href="/farms/<%= f._id %>/products " style=" color: #fff; text-decoration: none;"><%= f.name  %> </a></button>
                         <% } %> 
                <% } %>
                <div class="form-group mt-0">
                    <label for="password" style="color: rgb(255, 255, 255); font-weight: 600; letter-spacing: 1px;">Your Password</label>
                    <input class="form-control" type="password" name="password"  id="password" style="width: 40%;height: 50px;  cursor: pointer;background-color: grey; color: #fff;">
                </div>
                <a class="mt-4 mb-3" href="/user/forgot" style="color: #f50606; text-decoration: none;">Forgot?</a>

                <h5 class="mt-4" style="color: rgb(255, 255, 255); font-weight: 600; letter-spacing: 1px;">Store Capacity</h5>
                <p class="mt-4">
                   <span class="" style="color: rgb(255, 255, 255); font-size: 15px; font-weight: 600; letter-spacing: 1px;">Your Store contain</span>
                   <span class=" text-white">   
                       <% for(let f of farm) {%>
                        <% if(f.author.equals(currentUser._id)) {%> 
                            <span style="color: #f50606;">( <%= f.products.length %> )</span><span style="color: rgb(255, 255, 255); font-size: 15px; font-weight: 600; letter-spacing: 1px;"> products</span>
                             <% } %> 
                        <% } %>   
                       <br>
                       You'll receive all your account related communication on your updated email address (or mobile number). 
                    </span>
                </p>

                <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/myProfileFooter_4e9fe2.png" alt="" style="width: 100%;">
            </div>
        </div>
            <% } %>
            <% } %>
        </div>
    </div>
