<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/css/homes.css">
<link rel="stylesheet" href="/css/input.css">


<div class="container-fluid cart-details">
    <% if(user.cart.length === 0) {%> 
        <p class="text-white mt-5  mb-5 " style="text-align: center; font-size: 30px;"><i class="fas fa-cart-plus pr-1" style="color: #f50606;"></i> Your Cart is empty<br> 
        <a class="btn btn-sm btn-danger" href="/products" style="color: #fff; background-color: #f50606; border: none; border-radius: 2px;">Shop now</a></p>
        <% } else{%> 
    <div class="row">  
        <div class="col-8" style="background-color: rgb(0, 0, 0);">
            <h5 class="mt-3 mb-3" style="float: left; font-weight: 600; color: #fff;">My Cart (<%= user.cart.length  %>)</h5 > 
                <img class="mt-3 mb-3" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZWxsaXBzZSBjeD0iOSIgY3k9IjE0LjQ3OCIgZmlsbD0iI0ZGRTExQiIgcng9IjkiIHJ5PSIzLjUyMiIvPjxwYXRoIGZpbGw9IiMyODc0RjAiIGQ9Ik04LjYwOSA3LjAxYy0xLjA4IDAtMS45NTctLjgyNi0xLjk1Ny0xLjg0NSAwLS40ODkuMjA2LS45NTguNTczLTEuMzA0YTIuMDIgMi4wMiAwIDAgMSAxLjM4NC0uNTRjMS4wOCAwIDEuOTU2LjgyNSAxLjk1NiAxLjg0NCAwIC40OS0uMjA2Ljk1OS0uNTczIDEuMzA1cy0uODY0LjU0LTEuMzgzLjU0ek0zLjEzIDUuMTY1YzAgMy44NzQgNS40NzkgOC45MjIgNS40NzkgOC45MjJzNS40NzgtNS4wNDggNS40NzgtOC45MjJDMTQuMDg3IDIuMzEzIDExLjYzNCAwIDguNjA5IDAgNS41ODMgMCAzLjEzIDIuMzEzIDMuMTMgNS4xNjV6Ii8+PC9nPjwvc3ZnPg==" alt="" style="margin-left: 90px;float: left;">       
                <% if(user.addresses) {%>     
                    <% if(user.addresses.length > 1) {%>
                            <p class="mt-3 mb-3 " style="font-weight: 600; margin-left:10px ;color: #fff; "> Deliver to <small style="padding: 6px; font-weight: 600; letter-spacing: 1px;">
                            <select name="" id="" style="background-color:rgb(99, 96, 96) ; border-radius: 3px;">
                                <% for(let p of user.addresses) {%>
                                    <option value=""><%= p.name  %>, <%= p.mobno %>,  <%= p.address %> - <%= p.pincode  %> <span style="padding: 2px; border-radius: 5px; background-color: #3d3535; color: #fff;"><%= p.tag %> </span></option>
                                <% } %>
                            </select>
                    <% } else{%>
                        <p class="mt-3 mb-3 " style="font-weight: 600; margin-left:10px ;color: #fff;"> Deliver to <small style="padding: 6px; border: 0.5px solid #423838; font-weight: 600; letter-spacing: 1px;">
                            <% for(let p of user.addresses) {%>
                                <%= p.name  %>, <%= p.mobno %>,  <%= p.address %> - <%= p.pincode  %>  <span style="padding: 2px; border-radius: 5px; background-color: #3d3535; color: #fff;"><%= p.tag %> </span>
                            <% } %> 
                    <% } %> 
                <% } else{%>

                <% } %>  
                    </small> 
                </p>
                <hr style=" background-color: rgb(145, 133, 133);">
            <% let total = 0 %> 
            <% for(let u of user.cart) {%>
            
            <% if(u.images.length > 1) {%> 
                <img src= "<%= u.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg" style="border-radius: 10px; width: 120px; height: 160px; float: left;">
            <!-- <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="">  -->
            <% }else{ %> 
                <% for(let i of u.images)  {%>   
                <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                <% } %>
            <% } %>
            <h5 class="" style="margin-left: 150px; font-weight: 600; color: rgb(145, 133, 133);"><%= u.name  %></h5>
            
            <% if(u.reviews.length >=1) {%> 
                <% let total = 0 %>
                <% let avg = 0 %>  
                <% for(let r of u.reviews) {%> 
                    <% total = total + r.rating  %>   
                <% } %>
                <% avg = parseFloat(total/u.reviews.length) %>
                <p>
                    <% if(avg >= 0 && avg <= 1) {%> 
                        <span><small class="text-white" style="margin-left: 30px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;">1<i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 1.1 && avg <= 2) {%>
                        <span><small class="text-white" style="margin-left: 30px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;">2<i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 2.1 && avg <= 3) {%> 
                        <span><small class="text-white" style="margin-left: 30px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;">3<i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 3.1 && avg <= 4) {%> 
                        <span><small class="text-white" style="margin-left: 30px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;">4<i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 4.1 && avg <= 5) {%> 
                        <span><small class="text-white" style="margin-left: 30px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;">5<i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else {%>
                    <% } %>
                </p>
            <% } else {%>
                <p><span style="margin-left: 30px; color: rgb(228, 228, 228);">No Reviews </span></p>
            <% } %>  
            <!-- <small class="stars" style="margin-left: 30px;">4<i class="fas fa-star ml-1"></i></small><span><i class="fab fa-shopify ml-3 mb-3" style="color: #f50606;">+</i></span><br> -->
            
            
            <small class="mt-5 mb-3"  style="color: rgb(145, 133, 133); font-weight: 600; margin-left: 30px; font-size: 16px;">$<%= u.qty * u.price  %> <span><i class="fas fa-info-circle" style="color: #7a2828; "></i></span> </small><br>
            <% total = total + (u.qty * u.price) %>
            <form action="/products/<%= u._id %>/cart?_method=DELETE " method="POST">
                <button class="btn btn-sm btn-danger" style="float:left;margin-left: 30px; border: none; border-radius: 2px; color: #fff;background-color: #790000;"><i class="far fa-trash-alt"></i></button>
             </form>
             <button class="btn btn-sm btn-danger ml-1" style="border: none; border-radius: 2px; color: #fff; background-color: #790000;">Save</button><br>
             
             <% if(u.qty == 1) {%> 
             <form action="/user/account/<%= u._id %>/p-qty?_method=DELETE" method="POST">
                <button disabled="" style="border: none; border-radius: 5px; background-color: black; color: #fff; float: left;">
                    <span class="mr-2 my-1 px-1 py-0 pb-1 desc" style="font-size: 30px; cursor: pointer;  font-size: 18px;"><i class="fas fa-minus"></i></span>
                </button>
            </form>
            <% } else{%>
                <form action="/user/account/<%= u._id %>/p-qty?_method=DELETE" method="POST">
                    <button style="border: none; border-radius: 5px; background-color: black; color: #fff; float: left;">
                        <span class="mr-2 my-1 px-1 py-0 pb-1 desc" style="font-size: 30px; cursor: pointer;  font-size: 18px;"><i class="fas fa-minus"></i></span>
                    </button>
                </form>
            <% } %>  

            
            <input class="qtyInput" type="number" value="<%=u.qty%>" name="qty" id="" min="1" readonly="readonly" style="float: left; text-align:center; width: 7%; border: none; border-radius: 3px;">

           
                <form action="/user/account/<%= u._id %>/p-qty" method="POST">
                <button style="border: none; border-radius: 5px; background-color: black; color: #fff;">
                    <span class="ml-2 my-1 px-1 py-0 pb-1 asen" style="font-size: 30px; cursor: pointer;  font-size: 18px;"><i class="fas fa-plus"></i></span>
                </button>
            </form>
             
               

             <hr style=" background-color: rgb(145, 133, 133);">
        <% } %> 
        <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/myProfileFooter_4e9fe2.png" alt="" style="width: 100%;">

        </div>
        <div class="col-4 mt-0" style="position: sticky; background-color: rgb(0, 0, 0); transition: none; box-shadow: none; transform: none;">
            <h5 style="font-weight: 600; color: rgb(145, 133, 133); letter-spacing: 1px;">PRICE DETAILS</h5>
            <hr style=" background-color: rgb(145, 133, 133);">
            <p style="font-weight: 500; font-size: 16px;"><span>Price (<%= user.cart.length %>  Items)</span><span style="float: right;">$<%= total %></span></p>
            <p style="font-weight: 500; font-size: 16px;"><span>Discount</span><span style="float: right;">-10$</span></p>
            <p style="font-weight: 500; font-size: 16px;"><span>Delievery Charges</span><span style="float: right; color: #f50606;">Free</span></p>
            <hr class="mb-3" style=" background-color: rgb(145, 133, 133);">
            <p style="font-weight: 500; font-size: 16px;"><span>Total Amount</span><span style="float: right;">$<%= total - 10 %></span></p>
            <hr class="mt-3" style=" background-color: rgb(145, 133, 133);">
            <a href="/user/verify-acc-cart/checkout" class="btn btn-md btn-btn-danger check-cart " style="float: right;">Place Order</a>
            <p ><span class="mt-3" style="float: right; color:rgb(145, 133, 133) ; font-weight: 600; letter-spacing: 1px;"><i class="fas fa-shield-alt ml-1" style="color: #f50606;"></i> Safe and Secure Authentic products.</span></p>
            
            <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/myProfileFooter_4e9fe2.png" alt="" style="width: 100%;">

        </div>
    </div>
</div>
<div>
    <p></p>
     
    </div>

<!-- <div class="carousel-category cart-details">
    
                    <div class="cart-value"> -->
    <% } %> 
</div>
 


