<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/css/homes.css">


<div class="carousel-category cart-details">
    <% if(user.cart.length === 0) {%> 
        <p class="text-white mt-5  mb-5 " style="text-align: center; font-size: 30px;"><i class="fas fa-cart-plus pr-1" style="color: #f50606;"></i> Your Cart is empty<br> 
        <a class="btn btn-sm btn-danger" href="/products" style="color: #fff; background-color: #f50606; border: none; border-radius: 2px;">Shop now</a></p>
        <% } else{%> 
    <table>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th class="ml-5 text-right">Price</th>
            </tr>
            <% let total = 0 %> 
            <% for(let u of user.cart) {%>     
            <tr>
                <td>
                    <div class="cart-value">
                        <% if(u.images.length > 1) {%> 
                            <img src= "<%= u.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                        <!-- <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="">  -->
                        <% }else{ %> 
                            <% for(let i of u.images)  {%>   
                            <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                            <% } %>
                        <% } %> 
                        <!-- <img src="https://images.unsplash.com/photo-1525092029632-cb75fe5dd776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt=""> -->
                        <div>
                            <p><%= u.name  %></p>
                            <small class="stars">4<i class="fas fa-star ml-1"></i></small>
                            <small class="text-muted">Price $ <%= u.price  %></small><br>
                            <% total = total + u.price %> 
                            <form action="/products/<%= u._id %>/cart?_method=DELETE " method="POST">
                               <button class="btn btn-sm btn-danger" style="float:left; border: none; border-radius: 2px; color: #fff;background-color: #790000;"><i class="far fa-trash-alt"></i></button>
                            </form>
                            <button class="btn btn-sm btn-danger ml-1" style="border: none; border-radius: 2px; color: #fff; background-color: #790000;"><i class="fas fa-save"></i> Save</button>
                        </div>
                    </div>
            </td>
                <td><input type="number" value="1" ></td>
                <td class="cart-price">$ <%= u.price  %></td>
            </tr>
            <% } %> 
    </table>
  
    <h5 class="price-text text-white mt-2">Price Details</h5>
    <div class="cart-total">
        <table>

            <tr>
                <td>Price (<%= user.cart.length %>  Items)</td>
                <td>$ <%= total %> </td> 
            </tr>
            <tr>
                <td>Discount</td>
                <td>-0$</td>
            </tr>
            <tr>
                <td>Delievery Charges</td>
                <td>Free</td>
            </tr>
            <hr class="divider">
            <tr>
                <td>Total Amount</td>
                <td>$ <%= total %></td>
            </tr>
        </table>
    </div>
    <a href="/checkout" class="btn btn-md btn-btn-danger check-cart mb-5">Proceed To Checkout</a>
    <% } %> 
</div>