
<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/homes.css">
<link rel="stylesheet" href="/css/home.css">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h1>Mac Pro is Unique <br>A Good Looking Hardware</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Voluptatem est atque, eum nam sed odio placeat </p>
                    <a class="btn " href="#">Explore Now <i class="fab fa-wpexplorer"></i></a>
                </div>
                <div class="col-2">
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="carousel-category">
        <!-- <h2 class="featured-title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=777&q=80" alt="">
            <h5 class="mt-1">Electronics Products</h5>
        </div>
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="">
            <h5 class="mt-1">Fashion Products</h5>
        </div>
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
            <h5 class="mt-1">Grocery Products</h5>
        </div> 
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1601760562234-9814eea6663a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGlhbmNlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            <h5 class="mt-1">Appliances Products</h5>
        </div>
    </div> -->
    <h2 class="featured-title"><%= categories %> Products</h2>
    <% if(categories === 'All') {%> 
        <div class="row product-row">
            <h2 class="mb-4" style="font-size: 22px; letter-spacing: 1px;">Fashion</h2>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter By Products
                </a>
                <div id="dropdown-color" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% for(let f of products) {%> 
                        <a class="dropdown-item" href="/products?categories=<%= f.categories %>">
                            <%= f.categories %>
                        </a>
                    <% } %> 
                </div>
                </li>
        </div>
        <div class="row">
             <% for(let p of products){ %>
                <% if(p.categories === 'Fashion') {%> 
                    <div class="col-4">
                        <a href="/products/<%= p._id %> ">
                            <% if(p.images.length > 1) {%> 
                                <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                            <% }else{ %> 
                                <% for(let i of p.images)  {%>   
                                <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                                <% } %>
                            <% } %>  
                            
                        </a>
                        <i class="far fa-heart mt-1 mr-1"></i>
                        <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: rgb(209, 111, 19);;"><%= p.name %></a></h5>
                        <div class="star-rating">
                            <% if(p.reviews.length >= 1){ %>
                                    <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                            <% }else{ %>
                                <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                            <% } %> 
                        </div>
                        <span class="text-white" style="float: right;"><%= p.categories %></span>
                        <p>$<%= p.price %>.99</p>
                    </div>
                    <% }else{ %>
                    <% } %>  
                <% } %> 
        </div>
        <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;">Electronics </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Electronics') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <i class="far fa-heart mt-1 mr-1"></i>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: rgb(209, 111, 19);;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <p>$<%= p.price %>.99</p>
                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;">TVs & Appliances </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Appliances') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <i class="far fa-heart mt-1 mr-1"></i>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: rgb(209, 111, 19);;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <p>$<%= p.price %>.99</p>
                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;">Beauty/Toys </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Toys') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <i class="far fa-heart mt-1 mr-1"></i>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: rgb(209, 111, 19);;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <p>$<%= p.price %>.99</p>
                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;">Mobiles Accessories </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Mobiles') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <i class="far fa-heart mt-1 mr-1"></i>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: rgb(209, 111, 19);;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <p>$<%= p.price %>.99</p>
                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;">Grocery </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Grocery') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <i class="far fa-heart mt-1 mr-1"></i>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: rgb(209, 111, 19);;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <p>$<%= p.price %>.99</p>
                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <% } else{ %>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === categories) {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <!-- <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="">  -->
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <i class="far fa-heart mt-1 mr-1"></i>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: rgb(209, 111, 19);;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                           <!-- <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="far fa-star"></i> -->
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <p>$<%= p.price %>.99</p>
                   </div>
                   <% } %>
                   <% } %>  
        </div>
        <% } %> 
    </div>

<p>
    <% if (categories !=='All' ){ %>
        <a class="btn btn-outline-danger btn-sm" style="background-color: rgb(110, 0, 0); border-radius: 2px; border: none; color: #fff;" href="/products">All Product</a>
        <% } %>
</p>

