
<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/homes.css">
<link rel="stylesheet" href="/css/home.css">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h1>Mac Pro is Unique <br>A Good Looking Hardware</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Voluptatem est atque, eum nam sed odio placeat </p>
                    <a class="btn " href="#">Explore Now <i class="fab fa-wpexplorer"></i></a>
                </div>
                <div class="col-2">
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="carousel-category">
        <!-- <h2 class="featured-title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=777&q=80" alt="">
            <h5 class="mt-1">Electronics Products</h5>
        </div>
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="">
            <h5 class="mt-1">Fashion Products</h5>
        </div>
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
            <h5 class="mt-1">Grocery Products</h5>
        </div> 
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1601760562234-9814eea6663a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGlhbmNlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            <h5 class="mt-1">Appliances Products</h5>
        </div>
    </div> -->
    <h2 class="featured-title"><%= categories %> Products</h2>
    <div class="row product-row">
    <li class="nav-item dropdown">
        <a class="nav-link " id="dropdown-color" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter By Products
        </a>
        <div id="dropdown-color" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if (categories !=='All' ){ %>
                <a class="dropdown-item" href="/products">
                    All Products
                </a>
                <% } %>
            <a class="dropdown-item" href="/products?categories=Fashion">
                Fashion
            </a>
            <a class="dropdown-item" href="/products?categories=Electronics">
                Electronics
            </a>
            <a class="dropdown-item" href="/products?categories=Appliances">
                Tv & Appliances
            </a>
            <a class="dropdown-item" href="/products?categories=Mobiles">
                Mobiles
            </a>
            <a class="dropdown-item" href="/products?categories=Toys">
                Toys/Beauty
            </a>
            <a class="dropdown-item" href="/products?categories=Grocery">
                Grocery
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link " id="dropdown-color" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter By Tag
            </a>
            <div id="dropdown-color" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (categories !=='All' ){ %>
                    <a class="dropdown-item" href="/products">
                        All Products
                    </a>
                    <% } %>
                <a class="dropdown-item" href="/products?productTag=T-Shirts">T-shirts</a>
            <a class="dropdown-item" href="/products?productTag=Jeans">Jeans</a>
            <a class="dropdown-item" href="/products?productTag=Pants">Pants</a>
            <a class="dropdown-item" href="/products?productTag=Cotton">Cotton</a>
            <a class="dropdown-item" href="/products?productTag=Formal">Formal</a>
            <a class="dropdown-item" href="/products?productTag=Trousers">Trousers</a>
            <a class="dropdown-item" href="/products?productTag=E-Gadgets">E-Gadgets</a>
            <a class="dropdown-item" href="/products?productTag=Mob-Acce">Mob-Acce</a>
            <a class="dropdown-item" href="/products?productTag=Food">Food</a>
            <a class="dropdown-item" href="/products?productTag=H-Gadgets">H-Gadgets</a>
            <a class="dropdown-item" href="/products?productTag=B/Kids">B/Kids</a>
        </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link " id="dropdown-color" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter By Price
            </a>
            <div id="dropdown-color" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (categories !=='All' ){ %>
                    <a class="dropdown-item" href="/products">
                        All Products
                    </a>
                    <% } %>
                <a class="dropdown-item" href="/products?productPriceFilter=under100">Under 0-100</a>
            <a class="dropdown-item" href="/products?productPriceFilter=under1000">Under 101-1000</a>
            <a class="dropdown-item" href="/products?productPriceFilter=under10000">Under 1001-10000</a>
            <a class="dropdown-item" href="/products?productPriceFilter=under100000">Under 100001-100000</a>
        </div>
        </li>
    </div>



    <% if(categories === 'All' || productPriceFilter === 'All' || productTag === 'All') {%> 
        <div class="row product-row">
            <h2 class="mb-4" style="font-size: 22px; letter-spacing: 1px;"><i class="fas fa-tshirt" style="color: #f50606;"></i> Fashion</h2>

        </div>
        <div class="row">
             <% for(let p of products){ %>
                <% if(p.categories === 'Fashion') {%> 
                    <div class="col-4">
                        <a href="/products/<%= p._id %> ">
                            <% if(p.images.length > 1) {%> 
                                <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                            <% }else{ %> 
                                <% for(let i of p.images)  {%>   
                                <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                                <% } %>
                            <% } %>  
                            
                        </a>
                        <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff; "><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                        <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                        <div class="star-rating">
                            <% if(p.reviews.length >= 1){ %>
                                    <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                            <% }else{ %>
                                <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                            <% } %> 
                        </div>
                        <span class="text-white" style="float: right;"><%= p.categories %></span>
                        <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>
                    </div>
                    <% }else{ %>
                    <% } %>  
                <% } %> 
        </div>
        <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;"><i class="fas fa-bolt" style="color: #f50606;"></i> Electronics </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Electronics') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>

                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;"><i class="fas fa-tv" style="color: #f50606;"></i> TVs & Appliances </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Appliances') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>

                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;"><i class="fas fa-gamepad" style="color: #f50606;"></i> Beauty/Toys </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Toys') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>

                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;"><i class="fas fa-mobile-alt" style="color: #f50606;"></i> Mobiles Accessories </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Mobiles') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>

                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <h2 class="mb-5" style="font-size: 22px; letter-spacing: 1px;"><i class="fas fa-shopping-basket" style="color: #f50606;"></i> Grocery </h2>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === 'Grocery') {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>

                   </div>
                   <% }else{ %>
                   <% } %>  
               <% } %> 
       </div>
       <% } else{ %>
        <div class="row">
            <% for(let p of products){ %>
               <% if(p.categories === categories) {%> 
                   <div class="col-4">
                       <a href="/products/<%= p._id %> ">
                           <% if(p.images.length > 1) {%> 
                               <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                           <!-- <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="">  -->
                           <% }else{ %> 
                               <% for(let i of p.images)  {%>   
                               <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                               <% } %>
                           <% } %>  
                           
                       </a>
                       <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                       <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                       <div class="star-rating">
                           <% if(p.reviews.length >= 1){ %>
                               <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                           <% }else{ %>
                               <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                           <% } %> 
                           <!-- <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="far fa-star"></i> -->
                       </div>
                       <span class="text-white" style="float: right;"><%= p.categories %></span>
                       <% let offer = 0 %>
                       <% let calcoffer = 0 %> 
                       <% offer =  p.saleprice - p.price  %> 
                       <% calcoffer = (offer * 100)/p.saleprice %> 
                       <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>
                  </div>
                   <% } %>
                   <% } %>  
        </div> 
        ||
        <% if(productPriceFilter) {%>  
        <div class="carousel-category">
            <div class="row">
                <% for(let p of products) {%>
                      
                <div class="col-4">
                    <a href="/products/<%= p._id %> ">
                        <% if(p.images.length > 1) {%> 
                            <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                        <% }else{ %> 
                            <% for(let i of p.images)  {%>   
                            <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                            <% } %>
                        <% } %>  
                        
                    </a>
                    <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                    <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                    <div class="star-rating">
                        <% if(p.reviews.length >= 1){ %>
                            <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                        <% }else{ %>
                            <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                        <% } %> 
                    </div>
                    <span class="text-white" style="float: right;"><%= p.categories %></span>
                    <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>

                </div>
                <% } %>
                
            </div>
    
        </div>
        <% } else{%>
        <% } %>  
        ||
        <% if(productTag) {%> 
            <div class="carousel-category">
                <div class="row">
                    <% for(let p of products) {%>
                          
                    <div class="col-4">
                        <a href="/products/<%= p._id %> ">
                            <% if(p.images.length > 1) {%> 
                                <img src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                            <% }else{ %> 
                                <% for(let i of p.images)  {%>   
                                <img src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg">
                                <% } %>
                            <% } %>  
                            
                        </a>
                        <form action="/products/<%= p._id %>/wishlist" method="POST">
                            <button style="background-color: #fff;"><i class="fas fa-heart mywishlistheart mt-1 mr-1"></i></button>
                        </form>
                        <h5><a href="/products/<%= p._id %> " style="text-decoration: none; color: #f50606;;"><%= p.name %></a></h5>
                        <div class="star-rating">
                            <% if(p.reviews.length >= 1){ %>
                                <p><span style="background-color: rgb(89, 194, 3); color: #fff; padding: 3px; border-radius: 3px;"><%= Math.floor(Math.random() * 5) %> <i class="fas fa-star" style="color: rgb(255, 255, 255);"></i></span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p>
                            <% }else{ %>
                                <p><span style="color: #fff;">No Reviews</span><span style="color: rgb(172, 170, 167);"> ( <%= p.reviews.length %> )</span> <span style="float: right; font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></p> 
                            <% } %> 
                        </div>
                        <span class="text-white" style="float: right;"><%= p.categories %></span>
                        <% let offer = 0 %>
                        <% let calcoffer = 0 %> 
                        <% offer =  p.saleprice - p.price  %> 
                        <% calcoffer = (offer * 100)/p.saleprice %> 
                        <p><span>$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span> </p>

                    </div>
                    <% } %>
                    
                </div>
        
            </div>
        <% }else {%>
        <% } %>  
        <% } %> 
    </div>

    
<!-- 
<p>
    
        <a class="btn btn-outline-danger btn-sm" style="background-color: rgb(110, 0, 0); border-radius: 2px; border: none; color: #fff;" href="/products">All Product</a>
        
</p> -->

   

 
    

