<% layout('./layouts/boilerplate')%> 

<% const arr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>


<% if(currentUser && order.user.equals(currentUser._id)) {%> 
<div class="container-fluid">
    <h4 class="mt-5" style="margin-left: 87px; color: rgb(141, 0, 0); font-weight: 600;letter-spacing: 1px;">My Order</h4>
    <div class="row">
        <div class="col-10 mt-3" style="background-color: rgb(85, 85, 85); padding: 18px; border-radius: 3px; transition: none;transform: none;">            
            <h5 style="color: rgb(255, 255, 255);font-weight: 600;letter-spacing: 1px;color: rgb(141, 0, 0);">Delievery Address</h5>   
            <p>
            <span style="text-align: center; font-size: 16px; color: #fff;font-weight: 600;letter-spacing: 1px;">
                <%= order.useraddress  %> 
            </span>
            </p>         
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <% for(let p of order.productsItem) {%>
            <div class="col-10 ml-1 mt-3" style="background-color: rgb(85, 85, 85); padding: 18px; border-radius: 3px;">             
            <a href="/products/<%= p._id %>">
                <% if(p.images.length > 1) {%> 
                    <img class="mt-0 ml-3" src= "<%= p.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg" style="border-radius: 10px; width: 70px; height: 100px; float: left;">
                <% }else{ %> 
                    <% for(let i of p.images)  {%>   
                    <img class="mt-0 ml-3" src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg" style="border-radius: 10px; width: 70px; height: 100px; float: left;">
                    <% } %>
                <% } %>
                </a>
                
            <p><span class="ml-3" style="font-weight: 600; letter-spacing: 1px;color: rgb(141, 0, 0);"><%= p.name %></span> 
                <span  style="float: right; font-size: 14px;font-weight: 600;color: #fff;letter-spacing: 0.5px;"><i class="fas fa-circle " style="color: rgb(0, 156, 0); font-size: 12px;"></i>
                Delievered On 
                <% const dates = new Date(`${(order.orderedDate)}`) %>
                <% const currMonths = dates.getMonth(); %> 
                <% const currDates = dates.getDate(); %> 
                <% const currYears = dates.getFullYear(); %>
                <%= currDates + 4 %> <%= arr[currMonths] %> <%= currYears %>    
            </span>
            </p>
            <p><span class="ml-3" style="font-weight: 600;letter-spacing: 1px;">$<%= (p.price * p.qty)%> </span>
            <small style="float: right;letter-spacing: 1px;font-weight: 600;">your item has been delievered soon.</small>
            </p>
            <p><span class="ml-3" style="font-weight: 600;letter-spacing: 1px;">Products qty - <%= p.qty  %>
            <span style="float: right;font-weight: 600;letter-spacing: 1px;color: rgb(141, 0, 0);">
                <a href="/products/<%= p._id%>/review/write-review" style="text-decoration: none;color: rgb(141, 0, 0);"><i class="fas fa-star"></i> Rate and Review Product
                </a>    
            </span>
            </span>
            </p>
            <div style="margin: 0px 50px">
            <span class="ml-0" style="font-size: 13px;font-weight: 600;letter-spacing: 1px; color: rgb(0, 221, 0);">Ordered <i class="fas fa-circle " style="color: rgb(0, 156, 0); font-size: 7px;"></i> 
            </span>
            <span style="margin-left: 110px; font-size: 13px;font-weight: 600;letter-spacing: 1px; color: rgb(0, 221, 0);">Packed <i class="fas fa-circle " style="color: rgb(0, 156, 0); font-size: 7px;"></i> 
            </span>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <span class="ml-0" style="font-size: 13px;font-weight: 600;letter-spacing: 1px;"><%= currDates %> <%= arr[currMonths] %> <%= currYears %> 
            </span>
            <span style="margin-left: 90px; font-size: 13px;font-weight: 600;letter-spacing: 1px;"><%= currDates %> <%= arr[currMonths] %> <%= currYears %>
            </span>
            </div>
            <!-- <a href="http://localhost:8080/user/verify-order/confirmation/true/60d3692f0854770354bf77da" download="">
            Order Invoice
            </a> -->
            
            
            
        </div>
        <% } %>
    </div>
</div>
<% } else{%>
    No Order Available
<% } %>  
