<% layout('./layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/input.css">

    <div class="container-fluid">
       <div class="row mt-4">
           <div class="col-8" style="background-color: rgb(77, 77, 77); border-radius: 2px; padding: 10px;">
            <div class="mt-2" style="background-color: rgb(77, 77, 77); border-radius: 2px; padding: 10px; border-bottom: 2px solid black;">
                <span class="" style="font-size: 13px; font-weight: 600; background-color: rgb(70, 70, 70);float: left; color:#f50606; padding: 3px; ">1</span>
               <p><span class="ml-3 mt-2" style="font-weight: 600; color: #fff; letter-spacing: 1px; ">Login
                <% if(currentUser) {%>
                    <i class="fas fa-check ml-2" style="font-size: 11px; color: #f50606;"></i></span></p>
                    <span class="ml-4 mt-0" style="font-weight: 600; color: #fff; letter-spacing: 1px;"><%= currentUser.firstname %> <%= currentUser.lastname %> <span class="ml-2" style="color: rgb(156, 156, 156);"><%= currentUser.mobno %></span>  </span>
                <% } %> 
            </div>
                <div class="mt-3" style="background-color: rgb(77, 77, 77); border-radius: 2px; padding: 10px; border-bottom: 2px solid black;">
                    <span class="" style="font-size: 13px;float: left; font-weight: 600; background-color: rgb(70, 70, 70); color:#f50606; padding: 3px; ">2</span>
                    <p><span class="ml-3 mt-2" style="font-weight: 600; color: #fff; letter-spacing: 1px; ">Delivery Address
                       <% if(user.addresses) {%> 
                        <% if(user.addresses.length >= 1) {%>
                           <i class="fas fa-check ml-2" style="font-size: 11px; color: #f50606;"></i></span></p>   
                        
                       <span class="ml-4 mt-0" style="font-weight: 600; color: #fff;">
                        <select name="" id="" style="background-color:rgb(99, 96, 96) ; border-radius: 3px;">
                            <% for(let u of user.addresses) {%>
                                <option value=""><%= u.name  %>, <%= u.mobno %>,  <%= u.address %> - <%= u.pincode  %> <span style="padding: 2px; border-radius: 5px; background-color: #3d3535; color: #fff;"><%= u.tag %> </span></option>
                            <% } %>
                        </select>
                    </span>       
                   <% } else {%>
                       <p><span>
                       <button class="btn btn-md btn-danger ml-3 mb-0 mt-0" style=" color: #fff; background-color: #aa0000; border-radius: 2px;">
                           <a href="/user/account/profile/overview/m-address" style="text-decoration: none; color: rgb(255, 255, 255);">+ Add Address</a></button>
                   </span></p>
                   <% } %> 
                   <% } else{%>
                    <% } %>   
                   <br>             
               </div>
               <div class="mt-3" style="background-color: rgb(77, 77, 77); border-radius: 2px; padding: 10px; border-bottom: 2px solid black;">
                    <span class="" style="font-size: 13px;float: left; font-weight: 600; background-color: rgb(70, 70, 70); color:#f50606; padding: 3px; ">3</span>
                    <p><span class="ml-3 mt-2" style="font-weight: 600; color: #fff; letter-spacing: 1px; ">Order Summary 
                       <% if(products) {%> 
                       <i class="fas fa-check ml-2" style="font-size: 11px; color: #f50606;"></i></span></p>  <br>
                       <% } %> 
                        <p><span style="margin-left: 18px; background-color: rgb(97, 58, 58);color: #fff; letter-spacing: 2px;font-size: 13px; font-weight: 600;border-radius: 4px;padding: 10px;">You Purchased Only 1 Unit Multiple Items Add To Cart Then Shop Now</span></p>
                       <div class="acc-cart mb-5">
                        <% let deliveryPrice = 0 %> 
                        <% let deliveryPriceQty = 0 %>
                       <!-- <p><span class="mt-0 ml-3" style="color: rgb(148, 148, 148); font-weight: 600; letter-spacing: 1px; padding: 10px;border-radius: 3px; background-color: rgb(80, 53, 53);">You have Purchased Only 1 Unit Multiple Then Add It To Cart Then Shop Now</span></p> -->
                       <!-- <span class="ml-3" style="color: rgb(145, 139, 139);">Order Confirmation email will be sent to <span style="color: rgb(206, 206, 206);"><%= currentUser.email%></span></span></span>  -->
                       <a href="/products/<%= products._id %>">
                       <% if(products.images.length > 1) {%> 
                           <img class="mt-0 ml-3" src= "<%= products.images[1].url %> " alt="https://i.stack.imgur.com/y9DpT.jpg" style="border-radius: 10px; width: 120px; height: 160px; float: left;">
                       <!-- <img src="https://i.stack.imgur.com/y9DpT.jpg" alt="">  -->
                       <% }else{ %> 
                           <% for(let i of products.images)  {%>   
                           <img class="mt-0 ml-3" src= "<%= i.url %> " alt="https://i.stack.imgur.com/y9DpT.jpg" style="border-radius: 10px; width: 120px; height: 160px; float: left;">
                           <% } %>
                       <% } %>
                       </a>
                       <h5 style="margin-left: 154px; font-weight: 600; color: rgb(145, 133, 133); letter-spacing: 1px;"><%= products.name  %></h5>
                       
                       <% if(products.reviews.length >=1) {%> 
                           <% let total = 0 %>
                           <% let avg = 0 %>  
                           <% for(let r of products.reviews) {%> 
                               <% total = total + r.rating  %>   
                           <% } %>
                           <% avg = parseFloat(total/products.reviews.length) %>
                           <p>
                               <% if(avg >= 0 && avg <= 1) {%> 
                                   <span><small class="text-white" style="margin-left: 17px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                                   <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                                   </span>
                               <% } else if (avg >= 1.1 && avg <= 2) {%>
                                   <span><small class="text-white" style="margin-left: 17px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                                   <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                                   </span>
                               <% } else if (avg >= 2.1 && avg <= 3) {%> 
                                   <span><small class="text-white" style="margin-left: 17px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                                   <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                                   </span>
                               <% } else if (avg >= 3.1 && avg <= 4) {%> 
                                   <span><small class="text-white" style="margin-left: 17px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                                   <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                                   </span>
                               <% } else if (avg >= 4.1 && avg <= 5) {%> 
                                   <span><small class="text-white" style="margin-left: 17px; background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                                   <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"> <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                                   </span>
                               <% } else {%>
                               <% } %>
                           </p>
                       <% } else {%>
                           <p><span style="margin-left: 17px; color: rgb(228, 228, 228);">No Reviews </span></p>
                       <% } %>  
                       <!-- <small class="stars" style="margin-left: 30px;">4<i class="fas fa-star ml-1"></i></small><span><i class="fab fa-shopify ml-3 mb-3" style="color: #f50606;">+</i></span><br> -->
                       
                       <% let offer = 0 %>
                       <% let calcoffer = 0 %>
                       <% deliveryPrice = products.price %>
                       <% deliveryPriceQty = products.qty %> 
                       <% offer =  products.saleprice - products.price  %> 
                       <% calcoffer = (offer * 100)/products.saleprice %> 
                       <small class="mt-5 mb-3"  style="color: rgb(145, 133, 133); font-weight: 600; margin-left: 18px; font-size: 16px;">$<%= products.price  %> <span class="ml-1" style=" color: rgb(34, 34, 34); text-decoration: line-through;">$<%= products.saleprice %></span> <span style="color: #8a0000;"><%= calcoffer.toFixed(0) %>% off  </span><span><i class="fas fa-info-circle" style="color: #7a2828; "></i></span> </small><br>
                       
                       <br>
                       
                       </div>
                       <!-- <p><span class="item-cart" style="display: none;">Your checkout has no items</span></p> -->
               </div> 
               <div class="mt-2" style="background-color: rgb(77, 77, 77); border-radius: 2px; padding: 10px; border-bottom: 2px solid black;">
                <span class="" style="font-size: 13px; font-weight: 600; background-color: rgb(70, 70, 70);float: left; color:#f50606; padding: 3px; ">4</span>
               <p><span class="ml-3 mt-2" style="font-weight: 600; color: #fff; letter-spacing: 1px; ">Payments </span></p>
                <!-- <p><span style="margin-left: 27px; letter-spacing: 1px; color: #fff;">Payment Option will be available soon......</span></p> -->
                <div class="mt-2" style="cursor: pointer;">
                    <input class="ml-4 upi" type="radio" name="paymentGateway" id="" style="cursor: pointer;"><span class="ml-3 text-muted" style="font-size: 15px; font-weight: 600;letter-spacing: 1px;">UPI</span> <br>  
                    <div class="upiInput" hidden>
                        <p class="ml-5 mt-3 "><span style="font-weight: 600;letter-spacing: 1px;">Choose an Option</span><br>
                        <input class="mt-3" type="radio" name="upiname"><span class="ml-3" style="font-weight: 600;letter-spacing: 1px;">PhonePe</span><br>
                        <input class="mt-3" type="radio" name="upiname"><span class="ml-3" style="font-weight: 600;letter-spacing: 1px;">Your UPI ID</span>
                        </p>
                    </div>
                </div>
                <div class="mt-2 " style="cursor: pointer;">
                <input class="ml-4 creditDebit" type="radio" name="paymentGateway"  style="cursor: pointer;"><span class="ml-3 text-muted" style="font-size: 15px; font-weight: 600;letter-spacing: 1px;">Credit / Debit / ATM Card</span> <br>
                <div class="creditDebitInput" hidden>
                    <input class="ml-5 mt-3 mb-1 creditDebitCard bg-white" type="number" minlength="16"  maxlength="16" name=""  placeholder="Enter Card Number" style="font-size: 14px;padding: 5px;outline: #f50606; height: 50px;width: 40%;font-weight: 600; color: #000;">
                    <p class="ml-5"><small class="Correctcard">Great 😀</small><small class="Errorcard">Enter Correct Card Details</small></p>
                    <p class="ml-5 mt-0" style="font-weight: 600;letter-spacing: 1px;"><span class="text-white">Valid Thru</span> 
                        <span>MM <select name="" id="" style="border: none;border-radius: 2px;box-shadow: none;">
                            <option value="01" style="font-weight: 600;letter-spacing: 1px;">01</option>
                            <option value="02" style="font-weight: 600;letter-spacing: 1px;">02</option>
                            <option value="03" style="font-weight: 600;letter-spacing: 1px;">03</option>
                            <option value="04" style="font-weight: 600;letter-spacing: 1px;">04</option>
                            <option value="05" style="font-weight: 600;letter-spacing: 1px;">05</option>
                            <option value="06" style="font-weight: 600;letter-spacing: 1px;">06</option>
                            <option value="07" style="font-weight: 600;letter-spacing: 1px;">07</option>
                            <option value="08" style="font-weight: 600;letter-spacing: 1px;">08</option>
                            <option value="09" style="font-weight: 600;letter-spacing: 1px;">09</option>
                            <option value="10" style="font-weight: 600;letter-spacing: 1px;">10</option>
                            <option value="11" style="font-weight: 600;letter-spacing: 1px;">11</option>
                            <option value="12" style="font-weight: 600;letter-spacing: 1px;">12</option>
                        </select>
                    </span>
                    <span>YY
                        <select name="" id="" style="border: none;border-radius: 2px;box-shadow: none;">
                            <option value="21" style="font-weight: 600;letter-spacing: 1px;">21</option>
                            <option value="22" style="font-weight: 600;letter-spacing: 1px;">22</option>
                            <option value="23" style="font-weight: 600;letter-spacing: 1px;">23</option>
                            <option value="24" style="font-weight: 600;letter-spacing: 1px;">24</option>
                            <option value="25" style="font-weight: 600;letter-spacing: 1px;">25</option>
                            <option value="26" style="font-weight: 600;letter-spacing: 1px;">26</option>
                            <option value="27" style="font-weight: 600;letter-spacing: 1px;">27</option>
                            <option value="28" style="font-weight: 600;letter-spacing: 1px;">28</option>
                            <option value="29" style="font-weight: 600;letter-spacing: 1px;">29</option>
                            <option value="30" style="font-weight: 600;letter-spacing: 1px;">30</option>
                        </select>
                    </span>
                    <input class="ml-3 cvv" type="password" name="" min="0" minlength="3" maxlength="3"  placeholder="cvv" style="width: 10%;padding: 10px;font-weight: 600;">
                    <button class="btn btn-md btn-outline-danger ml-2 payCard" style="height: 49px; border: none;border-radius: 2px;color: rgb(0, 0, 0);background-color: #ee8105;font-weight: 600;">
                        PAY 
                        <% if(deliveryPrice > 500) {%>
                            $<%= products.price  %>
                        <% } else{%>  
                            $<%= products.price + 50%>
                    <% } %> </button>
                </p>
                </div>
                </div>
                <div class="mt-2 " style="cursor: pointer;">
                <input class="ml-4 netbanking" type="radio" name="paymentGateway"  style="cursor: pointer;"><span class="ml-3 text-muted" style="font-size: 15px; font-weight: 600;letter-spacing: 1px;">NetBanking</span> <br>
                <div class="netbankingInput" hidden>
                    <!-- <p class="ml-5 mt-3 mb-3"><span style="color: #fff;font-weight: 600;letter-spacing: 1px;">NetBanking Option will be available soon........</span></p> -->
                    <h6 class="ml-5 mt-2" style="font-weight: 600;color: #fff;letter-spacing: 1px;">Popular Banks</h6>
                    <input class="ml-5 mt-3 mb-3" type="radio" name="banks" id="" ><span class="ml-2" style="font-weight: 600;letter-spacing: 1px;"><i class="fas fa-money-check" style="color: #f50606;"></i> HDFC Bank</span>
                    <input class="ml-3 mt-3 mb-3" type="radio" name="banks" id="" ><span class="ml-2" style="font-weight: 600;letter-spacing: 1px;"><i class="fas fa-money-check" style="color: #f50606;"></i> ICICI Bank</span>
                    <input class="ml-3 mt-3 mb-3" type="radio" name="banks" id="" ><span class="ml-2" style="font-weight: 600;letter-spacing: 1px;"><i class="fas fa-money-check" style="color: #f50606;"></i> State Bank Of India</span>
                    <input class="ml-3 mt-3 mb-3" type="radio" name="banks" id="" ><span class="ml-2" style="font-weight: 600;letter-spacing: 1px;"><i class="fas fa-money-check" style="color: #f50606;"></i> Axis Bank</span>
                    <h6 class="ml-5 mt-2" style="font-weight: 600;color: #fff;letter-spacing: 1px;">Other Banks</h6>
                    <span class="ml-5 mt-2">
                        <select name="" id="" style="border: none;border-radius: 2px;box-shadow: none; font-weight: 600;letter-spacing: 1px;">
                            <option value="---- Select Bank ----" style="font-weight: 600;letter-spacing: 1px;">----Select Bank ----</option>
                            <option value="Airtel Payments Bank" style="font-weight: 600;letter-spacing: 1px;">Airtel Payments Bank</option>
                            <option value="Bank Of Baroda" style="font-weight: 600;letter-spacing: 1px;">Bank Of Baroda</option>
                            <option value="Bank Of India" style="font-weight: 600;letter-spacing: 1px;">Bank Of India</option>
                            <option value="Canara Bank" style="font-weight: 600;letter-spacing: 1px;">Canara Bank</option>
                            <option value="Central Bank" style="font-weight: 600;letter-spacing: 1px;">Central Bank</option>
                            <option value="City Union Bank" style="font-weight: 600;letter-spacing: 1px;">City Union Bank</option>
                            <option value="Dena Bank" style="font-weight: 600;letter-spacing: 1px;">Dena Bank</option>
                            <option value="Fedral Bank" style="font-weight: 600;letter-spacing: 1px;">Fedral Bank</option>
                            <option value="IDBI Bank" style="font-weight: 600;letter-spacing: 1px;">IDBI Bank</option>
                            <option value="Indian Bank" style="font-weight: 600;letter-spacing: 1px;">Indian Bank</option>
                            <option value="IndusInd bank" style="font-weight: 600;letter-spacing: 1px;">IndusInd bank</option>
                            <option value="Indian Overseas Bank" style="font-weight: 600;letter-spacing: 1px;">Indian Overseas Bank</option>
                            <option value="Karnatka Bank" style="font-weight: 600;letter-spacing: 1px;">Karnatka Bank</option>
                            <option value="Punjab National Bank" style="font-weight: 600;letter-spacing: 1px;">Punjab National Bank</option>
                            <option value="UCO Bank" style="font-weight: 600;letter-spacing: 1px;">UCO Bank</option>
                            <option value="Union Bank Of India" style="font-weight: 600;letter-spacing: 1px;">Union Bank Of India</option>
                            <option value="Yes Bank" style="font-weight: 600;letter-spacing: 1px;">Yes Bank</option>
                    </select>
                    </span><br>
                    <button class="btn btn-md ml-5 mt-3 " disabled="" style="font-weight: 600;letter-spacing: 1px; background-color: #ee8105;color: #000;border: none;border-radius: 3px;">
                    PAY <% if(deliveryPrice > 500) {%>
                        $<%= products.price  %>
                    <% } else{%>  
                        $<%= products.price + 50%>
                <% } %>
                    </button>
                </div>
                </div>
                <div class="mt-2 mb-3" style="cursor: pointer;">
                <input class="ml-4 cash" type="radio" name="paymentGateway"  style="cursor: pointer;"><span class="ml-3 text-muted" style="font-size: 15px; font-weight: 600;letter-spacing: 1px;">Cash On Delivery</span>
                <div class=" cashInput" hidden>
                    <h6 class="ml-5 mt-3" style="font-weight: 600;letter-spacing: 1px;color: rgb(0, 0, 0);">Enter A Captcha</h6>
                    <input class="ml-5 mt-3 mb-3 captchaHolder" type="text" minlength="4" maxlength="4" readonly="readonly" name=""   style="font-size: 35px;padding: 5px;outline: #f50606; height: 50px; font-weight: 600; width: 15%; color: #f50606;"><i class="fas fa-redo-alt ml-1" style="color: #f50606;"></i>
                    <input class="ml-5 mt-3 mb-3 validCaptcha bg-white" type="number" minlength="4" maxlength="4" name=""  placeholder="7867" style="font-size: 20px;padding: 5px;outline: #f50606; height: 50px; font-weight: 600; width: 15%;color: #000;"><br>
                    <button class="btn btn-md btn-outline-danger ml-5 mb-5 mt-3 captchaSubmit" disabled="" style="height: 50px; border: none;border-radius: 2px;color: #fff;background-color: #ee8105;font-weight: 600;">CONFIRM ORDER</button>
                </div>
                </div>
                </div>
                </div>
                
            
            
 
            <div class="col-4 mt-0" style="position: sticky; background-color: rgb(77, 77, 77); transition: none; box-shadow: none; transform: none;">
                <h5 style="font-weight: 600; color: rgb(0, 0, 0); letter-spacing: 1px;">PRICE DETAILS</h5>
                <hr style=" background-color: rgb(0, 0, 0);">
                <p style="font-weight: 500; font-size: 16px;"><span>Price (<%= products.length %>  Items)</span><span style="float: right;">$<%= products.saleprice %></span></p>
                <p style="font-weight: 500; font-size: 16px;"><span>Discount</span><span style="float: right;">-$<%= products.saleprice - products.price %> </span></p>
                <p style="font-weight: 500; font-size: 16px;"><span>Delievery Charges</span><span style="float: right; color: #f50606;">
                    <% if(deliveryPrice <= 500) {%>
                        $<%= 50 %>
                    <% } else{%>  
                    Free
                <% } %> 
                </span></p>
                <hr class="mb-3" style=" background-color: rgb(0, 0, 0);">
                <p style="font-weight: 500; font-size: 16px;"><span>Total Amount</span><span style="float: right;">     
                    <% if(deliveryPrice > 500) {%>
                        $<%= products.price  %>
                    <% } else{%>  
                        $<%= products.price + 50%>
                <% } %>
            </span></p>
                <hr class="mt-3" style=" background-color: rgb(0, 0, 0);">  
                <p><span style="color: #ca5656; letter-spacing: 1px; font-weight: 600;">You will save $<%= products.saleprice - products.price %> on this order </span></p>              
                <p ><span class="mt-3" style="float: right; color:rgb(0, 0, 0) ; font-weight: 600; letter-spacing: 1px;"><i class="fas fa-shield-alt ml-1" style="color: #f50606;"></i> Safe and Secure Authentic products.</span></p>
                
                <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/myProfileFooter_4e9fe2.png" alt="" style="width: 100%;">
    
            </div>
        
    </div>
    </div>



    <script>
        const upi = document.querySelector('.upi');
        const upiInput = document.querySelector('.upiInput');
        const creditDebit = document.querySelector('.creditDebit')
        const creditDebitInput = document.querySelector('.creditDebitInput')
        const netbanking = document.querySelector('.netbanking')
        const netbankingInput = document.querySelector('.netbankingInput')
        const cash = document.querySelector('.cash')
        const cashInput = document.querySelector('.cashInput')
        
        upi.addEventListener('click', function(){
            upiInput.removeAttribute('hidden')
            cashInput.setAttribute('hidden','')
            creditDebitInput.setAttribute('hidden','')
            netbankingInput.setAttribute('hidden','')
        })
        creditDebit.addEventListener('click', function(){
            upiInput.setAttribute('hidden','')
            netbankingInput.setAttribute('hidden','')
            cashInput.setAttribute('hidden','')
            creditDebitInput.removeAttribute('hidden')
        })
        netbanking.addEventListener('click', function(){
            upiInput.setAttribute('hidden','')
            creditDebitInput.setAttribute('hidden','')
            cashInput.setAttribute('hidden','')
            netbankingInput.removeAttribute('hidden')
        })
        cash.addEventListener('click', function(){
            upiInput.setAttribute('hidden','')
            creditDebitInput.setAttribute('hidden','')
            netbankingInput.setAttribute('hidden','')
            cashInput.removeAttribute('hidden')
        })
        

        
    
    </script>     
    
    <script src="/js/captcha.js">
    
    </script>





    


