<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="/css/homes.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/star.css">
<link rel="stylesheet" href="/css/productIndex.css">

<div class="carousel-category detailed-one-product">
    <div class="row">
        <div class="col-6">
            <% if(product.images.length == 5) {%> 
            <img id="product-img" src="<%= product.images[0].url %> " alt="">
            <form action="/products/<%= product._id %>/wishlist" method="POST">
                <button class="mywishlist" style="background-color: transparent;"><i class="fas fa-heart mywishlistheart mt-3 mr-4"></i></button>
            </form>           
                <div class="product-img-row">
                    <div class="product-img-col">
                        <img class="small-product-img" src="<%= product.images[1].url %>" alt="" width="100%">
                    </div>
                    <div class="product-img-col">
                        <img class="small-product-img" src="<%= product.images[2].url %>" alt="" width="100%">
                    </div>
                    <div class="product-img-col">
                        <img class="small-product-img" src="<%= product.images[3].url %>" alt="" width="100%">
                    </div>
                    <div class="product-img-col">
                        <img class="small-product-img" src="<%= product.images[4].url %>" alt="" width="100%">
                    </div>
                </div>
            <% }else{%>
                <% for(let p of product.images) {%>
                    <img id="product-img" src="<%= p.url %> " alt="">
                    <div class="product-img-row">
                        <div class="product-img-col">
                            <img class="small-product-img" src="<%= p.url %>" alt="" width="100%">
                        </div>
                        <div class="product-img-col">
                            <img class="small-product-img" src="<%= p.url %>" alt="" width="100%">
                        </div>
                        <div class="product-img-col">
                            <img class="small-product-img" src="<%= p.url %>" alt="" width="100%">
                        </div>
                        <div class="product-img-col">
                            <img class="small-product-img" src="<%= p.url %>" alt="" width="100%">
                        </div>
                    </div>
                <% } %>
            <% } %>  
            
    </div>
        <div class="col-6">
            <h1 class="text-white mt-5" style="letter-spacing: 0.5px;"><%= product.name.slice(0,1).toUpperCase() + product.name.slice(1,) %></h1>
            <% if(product.reviews.length >=1) {%> 
                <% let total = 0 %>
                <% let avg = 0 %>  
                <% for(let r of product.reviews) {%> 
                    <% total = total + r.rating  %>   
                <% } %>
                <% avg = parseFloat(total/product.reviews.length) %>
                <p>
                    <% if(avg >= 0 && avg <= 1) {%> 
                        <span><small class="text-white" style="background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"><%= total %>  Ratings & <%= product.reviews.length %> Reviews <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 1.1 && avg <= 2) {%>
                        <span><small class="text-white" style="background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"><%= total %>  Ratings & <%= product.reviews.length %> Reviews <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 2.1 && avg <= 3) {%> 
                        <span><small class="text-white" style="background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"><%= total %>  Ratings & <%= product.reviews.length %> Reviews <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 3.1 && avg <= 4) {%> 
                        <span><small class="text-white" style="background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"><%= total %>  Ratings & <%= product.reviews.length %> Reviews <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else if (avg >= 4.1 && avg <= 5) {%> 
                        <span><small class="text-white" style="background-color: #07ce00; border-radius: 5px; padding: 5px; font-size: 15px;"><%= avg.toFixed(1) %><i class="fas fa-star ml-1"></i></small>
                        <small class="ml-1" style="color: aliceblue; font-size: 14px; font-weight:600;"><%= total %>  Ratings & <%= product.reviews.length %> Reviews <span class="ml-2" style="font-size: 20px; color: #f50606;"><i class="fab fa-shopify">+</i></span></small> 
                        </span>
                    <% } else {%>
                    <% } %>
                </p>
            <% } else {%>
                <p><span style="color: #fff;">No Reviews</span></p>
            <% } %>  
            <% let offer = 0 %>
            <% let calcoffer = 0 %> 
            <% offer =  product.saleprice - product.price  %> 
            <% calcoffer = (offer * 100)/product.saleprice %> 
            <h5 class="text-white mt-3"><span>$<%= product.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= product.saleprice %></span> <span style="color: #d30000;"><%= calcoffer.toFixed(0) %>% off</span></h5><br>

            <p class="mt-2">
                <span class="mb-3" style="color: #fff;">Available Offers</span><br>
                <span class="" style="color: #fff; font-size: 14px;"><i class="fas fa-tag" style="color: rgb(1, 201, 1);"></i> Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit Card
                </span><br>
                <span class="" style="color: #fff; font-size: 14px;"><i class="fas fa-tag" style="color: rgb(1, 201, 1);"></i> Bank OfferFlat ₹100 off on first Flipkart Pay Later order of ₹500 above</span>
            </p>
            <% if(currentUser) { %>
            <span class="text-white mt-3" style="float: right;"><a href="#">Write A Review</a></span>
            <% } %> 
            <button class="btn btn-warning btn-block add mt-4 addtocart" style="background-color: rgb(255, 94, 0);">
                <a href="/user/verify-acc-cart/<%=product._id %>/checkout" style="text-decoration: none; color: #fff;"><i class="fas fa-bolt"></i> Buy Now</a>
            </button>

            <form action="/products/<%= product._id %>/cart" method="POST">
                <button class="btn btn-warning btn-block add mt-4 addtocart" style="background-color: rgb(248, 223, 0);"><i class="fas fa-cart-plus"></i> Add To Cart</button>
            </form>
            <!-- <a href="#" class="btn btn-warning btn-block buy mt-5">Buy Now</a> -->
            <!-- <span class="text-white ml-5 mt-3 mb-5" style="text-align: center;">Or</span> -->
            
    
            
            <!-- <a href="/cart " class="btn btn-warning btn-block add mt-4 addtocart">Add To Cart</a> -->
            <h5 class="text-white" style="letter-spacing: 0.6px;">Desgnied In <%= product.farm.name %> <i class="fas fa-store" style="color: brown;"></i></h5>
            <h4 class="text-white" style="font-weight: normal;">Description <i class="fas fa-audio-description" style="color: rgb(70, 26, 26);"></i></h4>
            <p class="text-white"><%= product.description  %> </p>
        </div>
    </div>
</div>

<div class="carousel-category">
    <div class="row product-row">
        <h2>Related Products</h2>
        <p class="text-white" style="font-weight: 600; letter-spacing: 1px;">View More</p>
    </div>
    <div class="row">
        <% let offers = 0 %>
        <% let calcoffers = 0 %> 
        <% for(let p of products) {%>
            <% if(!(p.name === product.name)) {%> 
                <% offers =  p.saleprice - p.price  %> 
                <% calcoffers = (offers * 100)/p.saleprice %>  
                <div class="col-4">
                    <a href="/products/<%= p._id  %> ">
                    <% if(p.images.length > 1) {%> 
                        <img src="<%= p.images[1].url  %> " alt="">
                    <% }else{ %> 
                        <% for(let i of p.images){ %> 
                            <img src="<%= i.url  %> " alt="">
                        <% } %>
                    <% } %> 
                    </a> 
                    <form action="/products/<%= product._id %>/wishlist" method="POST">
                        <button class="mywishlist" style="background-color: transparent;"><i class="fas fa-heart mywishlistheart mt-2 mr-3"></i></button>
                    </form>    
                    <h5><%= p.name  %></h5>
                    <span style="color: #fff;">$<%= p.price %></span> <span style="color: rgb(150, 150, 150); text-decoration: line-through;">$<%= p.saleprice %></span> <span style="color: #d30000;"><%= calcoffers.toFixed(0) %>% off</span>
                </div>
                <% } else{%>
                    <% } %>  
            <% } %> 
    </div>
</div>
<hr class="divider">

<div class="container-fluid">
    <% if(currentUser){ %>
        <h4 style="font-weight: 600;cursor: pointer;"><span class="des-rev">Description</span> <span class="ml-5 rev-text">Reviews</span></h4>
        <div class="des-row row mt-5 mb-5" hidden="">         
            <div class="col-10" style="background-color: rgb(51, 51, 51); border-radius: 5px">
                <p class="mt-3" style="font-weight: 600;letter-spacing: 1px;color: #fff;padding:5px;">
                    <span>
                        <%= product.description  %> 
                </span></p>
            </div>
        </div>
            <div class="rev-row row mt-5 mb-5">
                <div class="col-10" style="background-color: rgb(51, 51, 51); border-radius: 5px">

                <% for(let review of product.reviews) { %>
                            <div class="mt-3">
                                <div class="text-center " style="background-color: rgb(95, 54, 54); float: left; width: 30px; height: 31px; border-radius: 20px; ">
                                    <h3 class="" style="font-weight: 600; font-size: 26px; padding: 2px;"><%= review.author.username.slice(0,1).toUpperCase() %> </h3>
                                </div>   
                            <!-- <img src="https://www.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg" alt="" width="48px" height="50px" style="border-radius: 30px;"> -->
                            <small class="ml-3 mt-4" style="background-color: rgb(49, 155, 0);color: #fff;font-size: 13px;padding: 6px;border-radius: 6px;">
                                <b><%=review.rating%><i class="fas fa-star ml-1"></i></b>
                            </small>
                            <span class="mt-0" style="margin-left: 100px;">
                                <li class="nav-item dropdown" style="float: right; ">
                                    <a class="nav-link " id="dropdown-color" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #000; letter-spacing: 1px;">
                                      <i class="fas fa-ellipsis-h" style="color: rgb(163, 163, 163)"></i>
                                    </a>
                                    <div id="dropdown-color" class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 14px; letter-spacing: 1px;">
                                      <% if(currentUser && review.author.equals(currentUser._id)) {%> 
                                        <form action="/products/<%=product._id %>/review/<%=review._id%>?_method=DELETE" method="POST">
                                            <button class="dropdown-item">Delete</button>
                                        </form>
                                <% } else{%>
                                    <button class="dropdown-item">Report Abuse</button>
                                    <% } %> 
                                    </div>
                                    </li>
                                </span>
                        </div>
                        <p class="card-text text-muted mt-3 mb-3"><b><i class="fas fa-quote-left mr-2" style="font-size: 12px; color: rgb(31, 24, 24);"></i><span style="color: rgb(196, 196, 196);"><%=review.body %></span></b><i class="fas fa-quote-right ml-2"style="font-size: 12px; color: rgb(31, 24, 24);"></i></p>
                        <p>
                            <small class="text-muted ml-2 review-date" style="font-weight: 600;letter-spacing: 1px;">
                               - <%= review.author.username  %> <i class="fas fa-check-circle"></i> cetrified Buyer
                            </small><i class="fas fa-circle mb-1 ml-1" style=" font-size: 4px;"></i>
                            <small class="text-muted ml-1 review-date" style="font-weight: 600;letter-spacing: 1px;">
                            <%= moment(review.createdAt).fromNow()%>
                        </small>
                    </p>  
                                <!-- <p class="starability-result review-stars" data-rating="<%=review.rating%>"></p> -->
                    <hr style="background-color: rgb(71, 71, 71);">
                    <% } %>
                </div>     
            </div>
        </div>
                    
                
    <% }else {%>
        <h3 class="text-white">Write Your Own Review</h3>
            <p class="text-white mt-5 mb-5" style="border: 0.5px dotted #c1cf00; padding: 3px; letter-spacing: 1px;" ><i class="fas fa-exclamation-triangle ml-1" style="color: #f50606"></i> UnAuthorized Users can't give the reviews to get access <a href="/user/login">Sign in</a> or <a href="/user/register">Create account</a></p> 
        <% } %> 
    </div>

<script>
    const productImg = document.getElementById('product-img');
    const smallProductImg = document.getElementsByClassName('small-product-img');
    smallProductImg[0].addEventListener('click', function(){
        productImg.src = smallProductImg[0].src;
    })
    smallProductImg[1].addEventListener('click', function(){
        productImg.src = smallProductImg[1].src;
    })
    smallProductImg[2].addEventListener('click', function(){
        productImg.src = smallProductImg[2].src;
    })
    smallProductImg[3].addEventListener('click', function(){
        productImg.src = smallProductImg[3].src;
    })
</script>



<% if(currentUser && product.author.equals(currentUser._id)) {%> 
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger btn-sm" style="background-color: rgb(110, 0, 0); border-radius: 2px; border: none; color: #fff;"><i class="far fa-trash-alt"></i> Delete </button>
    </form>
<% } %>  


<script>
    const dspan = document.querySelector('.des-rev');
    const rspan = document.querySelector('.rev-text');
    const drow = document.querySelector('.des-row');
    const rrow = document.querySelector('.rev-row');
    dspan.addEventListener('click', function(){
        rrow.setAttribute('hidden','');
        drow.removeAttribute('hidden');
        dspan.classList.add('des-revs')
        rspan.classList.remove('rev-texts');

    })
    rspan.addEventListener('click', function(){
        drow.setAttribute('hidden','');
        rrow.removeAttribute('hidden')
        rspan.classList.add('rev-texts');
        dspan.classList.remove('des-revs')

    })
</script>


<!-- <p>
    < if (reviewCategory !=='All' ){ %>
        <a class="btn btn-outline-danger btn-sm" style="background-color: rgb(110, 0, 0); border-radius: 2px; border: none; color: #fff;" href="/products/<%= product._id %> ">All Reviews</a>
        < } %>
</p> -->






 