<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://kit.fontawesome.com/b18fc4a9f4.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


</head>
<body style="background-color: black; font-family: Roboto, 'sans-serif';">
    <div class="container-fluid">
        <div class="ui inverted segment" style="margin: 0px auto; border-radius: 0px; background-color: black;">
            <div class="ui inverted secondary pointing menu">
              <a class="item" href="/farms" style="color: #f50606;">
                <h3 style="color: #f50606;"><%= farm.name %></h3>
              </a>
              <a class="item" href="/farms/<%= farm._id %> ">
               <h3>Add Products</h3>
              </a>
              <!-- <a class="item">
               <h3> Learn</h3>
              </a> -->
              <div class="ui inverted secondary pointing menu" style="margin-left: auto;">
                <a class="item" href="/user/account/profile/overview">
                  <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
                    <span>
                      <% if(farm.name === user.storename) {%>
                      <h3><%= user.username  %> </h3>
                    <% } %></span> 
                     
                 </a>
              </div>
              
            </div>
          </div>
        
        
    </div>

      <div class="ui stackable two column grid" style="margin: 40px 40px;">
        <div class="column">
          <% if(farm.category === 'Electronics') {%> 
            <img class="ui image"  src="https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=777&q=80" alt="">
        <% } else if(farm.category === 'Fashion') {%>
            <img class="ui image"  src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="">
        <% } else if(farm.category === 'Grocery') {%>
            <img class="ui image"  src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt=""> 
        <% } else if(farm.category === 'Appliances') {%>
            <img class="ui image"  src="https://images.unsplash.com/photo-1601760562234-9814eea6663a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXBwbGlhbmNlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        <% } else if(farm.category === 'Mobiles') {%>
            <img class="ui image"  src= "https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=777&q=80" alt="">
        <% } else if(farm.category === 'Toys') {%>    
            <img class="ui image"  src= "https://images.unsplash.com/photo-1515281239448-2abe329fe5e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=769&q=80" alt="">
        <% } else if(farm.category === 'Home Furniture') {%> 
            <img class="ui image"  src="https://images.unsplash.com/photo-1617325710236-4a36d46427c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" class="image-scale-valid" alt="">
        <% } %>
<!-- <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80"> -->

        </div>
        <div class="column" style="margin: 50px auto ; color: #fff;">
          <h3 style="text-align: center;color: #f50606; "><%= farm.name  %> </h3>
           <p style="text-align: center; letter-spacing: 1px; "><%= farm.description %> </p>
          </div>
      </div>
      <h2 class="" style="color: #f50606; margin: 30px 40px; text-align: center; letter-spacing: 1px; ">Blogs</h2>

      <div class="ui stackable three column grid" style="margin: 50px 40px;">
        <div class="column">
          <img class="ui image" src="https://cdn.shopify.com/s/files/1/0070/7032/files/diy-product-photography.jpg?v=1599161908&width=600">
          <h3 style="margin: 10px auto ; color: #fff;">Brand</h3>
           <p style="margin: 10px auto ; color: #fff;">A Picture Is Worth a Thousand Sales: A DIY Guide to Beautiful Product Photography</p>
          </div> 
         <div class="column">
          <img class="ui image" src="https://cdn.shopify.com/s/files/1/0070/7032/files/email-marketing.jpg?v=1554225457&width=600">
          <h3 style="margin: 10px auto ; color: #fff;">Guides</h3>
          <p style="margin: 10px auto ; color: #fff;">Learn Email Marketing: Everything from List Building to Advanced Lifecycle Automation</p>
        </div>
         <div class="column">
          <img class="ui image" src="https://cdn.shopify.com/s/files/1/0070/7032/files/subscription-business.jpg?v=1604195360&width=600">
          <h3 style="margin: 10px auto ; color: #fff;">Find an Idea</h3>
          <p style="margin: 10px auto ; color: #fff;">How to Start a Subscription Business: A Brief Guide</p>
        </div>
      </div>
      
      <h2 class="" style="color: #f50606; margin: 30px 40px; text-align: center; letter-spacing: 1px; ">FEATURED COLLECTION</h2>

      <div class="ui stackable four column grid" style="margin: 50px 40px;">
          <% for(let p of farm.products) {%>

            
            <div class="ui card" style="margin:40px 40px; background-color: black; box-sizing: border-box;">
              <% if(p.images.length >= 1) {%> 
              <div class="ui slide masked reveal image">
                <a class="ui red ribbon label"><%= p.tag %> </a>  
                <img src="<%= p.images[0].url %> " class="visible content">
                <img src="<%= p.images[1].url %> " class="hidden content">
                <img src="<%= p.images[2].url %> " class="hidden content">
                <img src="<%= p.images[3].url %> " class="hidden content">
                <img src="<%= p.images[4].url %> " class="hidden content">   
              </div>
              <% } %> 
              <div class="content">
                <a class="header" href="/products/<%= p._id %> " style="color: #f50606;"><%= p.name %> </a>
                <div class="meta">
                  <span class="date" style="color: #fff; margin-top: 5px;">$<%= p.price %>.99 <span >
                    <form>
                    <button class="ui left attached ui orange button" style="float: left; margin-left: 10px; margin-top: 15px;letter-spacing: 1px;"><a href="/user/verify-acc-cart/checkout" style="color: #fff;"><i class="fas fa-bolt"></i> Buy Now</a></button>
                    </form>
                    <form action="/products/<%= p._id %>/cart" method="POST">
                    <button class="ui right attached ui yellow button" style="margin-top: 15px; letter-spacing: 1px;"><i class="fas fa-cart-plus"></i> Add To Cart</button>
                    </form>
                  
                  </span></span>
                </div>
              </div>
            </div> 
          </a> 
          <% } %> 
      </div>
      <!-- <div class="ui stackable four column grid" style="margin: 50px 40px;">
        <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
           <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
          </div> 
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
          <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
        </div>
         <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
          <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
        </div>
        <div class="column">
          <img class="ui image" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
          <h3 style="margin: 10px auto ; color: #fff;">Your product's name</h3>
           <p style="margin: 10px auto ; color: #fff;">$ 99.99</p>
          </div> 
      </div> -->
      <h2 class="" style="color: #f50606; margin: 30px 40px; text-align: center; letter-spacing: 1px; ">CUSTOMER REVIEWS</h2>

      <div class="ui stackable three column grid" style="margin: 20px 40px;">
        <div class="column" style="margin: 10px auto ; color: #fff; text-align: center;">
        <i class="fas fa-quote-left" style="color: #f50606;"></i>
          <h4 style="color: #fff; text-align: center; font-weight: 600; letter-spacing: 1px;">Add customer reviews and testimonials <br> to showcase your store’s</h4>
          <span style="text-align: right; color: #fff;">- User name</span>
        </div>
        <div class="column" style="margin: 10px auto ; color: #fff; text-align: center;">
        <i class="fas fa-quote-left" style="color: #f50606;"></i>
          <h4 style="color: #fff; text-align: center; font-weight: 600; letter-spacing: 1px;">Add customer reviews and testimonials <br> to showcase your store’s</h4>
          <span style="text-align: right; color: #fff;">- User name</span>
        </div>
        <div class="column" style="margin: 10px auto ; color: #fff; text-align: center;">
        <i class="fas fa-quote-left" style="color: #f50606;"></i>
          <h4 style="color: #fff; text-align: center; font-weight: 600; letter-spacing: 1px;">Add customer reviews and testimonials <br> to showcase your store’s</h4>
          <span style="text-align: right; color: #fff;">- User name</span>
          </div>
      </div>
   

      <hr style="color: #fff; background-color: #fff; margin: 40px 40px;">

      <h4 style="color: #fff; margin: 10px 40px;">News Letter</h4>
      <div class="ui action input" style="margin: 10px 40px; color: #fff;">
        
        <input type="email" id="search" placeholder="Email Address" style="background-color: rgb(117, 115, 115);">
        <div class="ui button" data-inverted="" data-tooltip="Enter email for a subscriptions" data-position="top center" style="color: #fff; background-color: #f50606;">
          Subscribe
        </div>
      </div>
      <div style="color: #fff; margin: 5px 40px; text-align: right;">
        <i class="fas fa-copyright" style="color: #fff"></i><a href="#" style="color: #ffffff;"> <%= farm.name %> </a> Powered by <a href="/" style="color: #f50606;"> Shopify</a>
      </div>
      <hr style="color: #fff; background-color: rgb(156, 151, 151); margin: 40px 40px;">

      
              
</body>
</html>